---
layout: page
title: Guillermo Fidalgo
subtitle: Undergraduate Student -  Researcher for High Energy Physics
use-site-title: True
---

<h1>Short Bio</h1>
<p >My name is Guillermo Fidalgo
Undergraduate student as a Physics major from the University of
Puerto Rico at Mayagüez <a href="https://www.uprm.edu/portada/">(UPRM)</a> under
the mentorship of professor <a href="http://charma.uprm.edu/~malik/">Sudir Malik</a>. I have been on a Research
Semester at <a href="https://home.cern">CERN</a> in Geneva, Switzerland for which I learned about the basics of
Machine Learning and where I learn how to apply Machine Learning to monitor data for a The HCAL sub-detector of
the <a href="https://home.cern/science/experiments/cms">CMS Experiment</a>. Currently I am working with a group of researchers
 from <a href="http://fnal.gov/">Fermilab</a> that focus on improving the Data Quality Monitoring
  process for offline DQM shifters by applying ML to the Inner Tracker.</p>

<h1>Research Acomplishments</h1>


  <h3>Research Semester abroad [CERN,Switzerland] Spring 2018</h3>

    Undergrad thesis under UPRM COOP program titled “Using Machine Learning Techniques for Data Quality Monitoring at CMS Experiment”.
    I had spent Spring 2018 semester at CERN under "University of Michigan-CERN Research Semester Program".
    Worked on applying Machine Learning in HCAL DQM (Hadron Calorimeter Data Quality Monitoring)  <a href="/assets/Biblatex_version_main.pdf">[report]</a>


  <p><b> March 15 2018 </b> <a href="https://indico.cern.ch/event/699240/#6-machine-learning-for-data-qu">[Agenda]</a> <a href="https://indico.cern.ch/event/699240/contributions/2867949/attachments/1616957/2571105/Machine_Learning_-_CERN_proyect_1.pdf">[PDF]</a></p>

  <p><b>April 12 2018</b> Machine Learning and Deep Neural Networks <a href="https://indico.cern.ch/event/699242/#9-machine-learning-and-deep-ne">[Agenda]</a> <a href="https://cds.cern.ch/record/2313298">[Video]</a> <a href="https://indico.cern.ch/event/699242/contributions/2867965/attachments/1632154/2602586/Machine_Learning_-_CERN_proyect_2.pdf">[PDF]</a></p>

  <p><b>May 14 2018 </b>    <a href="https://indico.cern.ch/event/729259/#9-machine-learning-and-deep-ne">[Agenda]</a> <a href="https://indico.cern.ch/event/729259/contributions/3004138/attachments/1648378/2647701/GuillermoFinalTalk.mp4">[Video]</a> <a href="https://indico.cern.ch/event/729259/contributions/3004138/attachments/1648378/2635295/Final_talk.pdf">[PDF]</a></p>

<h1>Presentations (includes  National and International Conferences)</h1>


<h2>2020</h2>

<h3>PRIMS/JTM Conference</h3>
<p>Oral presentation on “Machine Learning for CMS Tracker Data Quality Monitoring” at  Rio Piedras, Puerto Rico <a href="https://prlsamp.rcse.upr.edu/index.php/home/events/jtmprism">[website]</a></p>




<h2>2019</h2>

<h3>PRIMS/JTM Conference</h3>
<p>Oral presentation on “Machine Learning in DQM at CMS Experiment” at the PRISM/JTM Conference in Mayagüez, Puerto Rico <a href="http://prlsamp.rcse.upr.edu/downloads/JTM_PRISM_2019-Programa.pdf">[agenda]</a></p>


<h3>Physcon 2019 "Making Waves and Breaking Boundaries"</h3>
<p> <b>13-17 Nov 2019</b> Poster session at the cuatrenial Physics Congress “Machine Learning in DQM at CMS Experiment”  at Rhode Island (United States)</p>

<h3>University of Puerto Rico Physics symposium</h3>
<p><b>24 May 2019</b> “Machine Learning and Deep Neural Networks at CMS Experiment” at the Department of Physics, UPRM, Puerto Rico <a href="http://charma.uprm.edu/~malik/Undergrad_Summer_Symposium/Undergrad_Summer_Symposium_2019.html">[website]</a></p>


<h2>2018</h2>


  <h3>New Perspectives Meeting Fermilab 2018</h3>
  <p> <b>20-21 Jun 2018</b> “Machine Learning in DQM at CMS Experiment”  at FNAL 51st Annual Users Meeting and New Perspectives Meeting, Fermilab, Batavia, IL (United States)
      <a href="https://vms.fnal.gov/asset/detail?recid=1955984">[Video]</a></p>



<h2>Major Contributions at UPRM</h2>
<ol>

<li>
  <h3>Scientific Software Club (SSC)</h3>
  <p>Formed the <a href="http://sscuprm.com/">Scientific Software Club</a> at UPRM to bring together students interests in software related research projects</p>
<p>  Have given around 5 workshops including topics : Bash, Git and Python</p>
<p>Currently have over around 100 members and growing.</p>
</li>

<li>
<h3>2018 STEM Teachers Workshop</h3>

<p>Workshop dedicated to enabling highschool STEM teachers with coding. <a href="https://indico.cern.ch/event/817539/">[Agenda]</a></p>
</li>


<li>
<h3>2019 STEM Teachers Workshop</h3>

<p>Workshop dedicated to enabling highschool STEM teachers with python coding language. <a href="https://indico.cern.ch/event/860466/"> [Agenda]</a></p>
</li>



</ol>















  <!-- <iframe class="lecture" src="https://mediastream.cern.ch/MediaArchive/Video/Public2/weblecture-player/index.html?year=2018&lecture=699242c9" width="100%" height="500px" allowfullscreen scrolling="no" frameborder="0"></iframe> -->

  <!-- <iframe width="640" height="360" frameborder="0" src="https://cds.cern.ch/video/2313298?showTitle=true" allowfullscreen></iframe> -->


  <!--
  <video width="100%" height="500px" controls>
  <source src="/assets/GuillermoFinalTalk.mp4" type="video/mp4">
  No support
  </video> -->

<!--

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
