name: Jekyll site CI with Docker

on:
  schedule:
    - cron: '45 13 * * *'
  pull_request:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:



concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write


# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6


    - uses: actions/setup-python@v6
      name: "Setup Python"
      with:
          python-version: '3.12'

    - run: pip install Pygments
    - run: pip install requests
    - run: python createbib.py

    - name: install pandoc
      uses: docker://pandoc/core:3.1
      with:
        args: -C --standalone latex_files/bibfile.bib --csl latex_files/american-physics-society.csl -o latex_files/texfile.tex

    - run: python Fixtex.py

    - uses: xu-cheng/latex-action@v4
      with:
        latexmk_shell_escape: true
        work_in_root_file_dir: true
        root_file: "./latex_files/texfile.tex"
        docker_image: texlive/texlive:latest


    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4

# Deployment job
  deploy:
    name: Deploy Site
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build

    if: github.ref == 'refs/heads/main'

    steps:

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
